* {
  margin: 0;
  padding: 0;
  justify-content: center;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 10px;
  background-color: #1DB954;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.playlist-link {
  color: #1DB954;
  text-decoration: none;
}